body{
  background: #ccc;
}
main{
  width: 100%;
  height: auto;
  background: #999;
}
header{
  width: 100%;
  height: auto;
  background: #fff;
}
.produtos{
  width: 100%;
  height: auto;
  float: left;
  background: #fff;
}
.card{
  width: 90%;
  height: auto;
  background: #fff;
  float: left;
  margin-left: 5%;
  position: relative;
  overflow: hidden;
  padding-bottom: 2vh;
  margin-bottom: 2vh;
  box-shadow: 0 0 5px #444;
}
.card:hover{
  box-shadow: 0 0 15px #000;
}
.link-card{
  text-decoration: none;
  color: inherit;
}
.card h2{
  width: 90%;
  float: left;
  margin-left: 5%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  /* background: red; */
  margin-top: 1vh;
  color: #333;
}
.desc{
  width: 90%;
  height: auto;
  float: left;
  /* background: yellow; */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
  margin-left: 5%;
  margin-top: 1vh;
  color: #333;
}
.preco{
  width: 40%;
  float: left;
  margin-left: 5%;
  /* background: purple;  */
  margin-top: 2vh;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  color: #333;
}
.avaliacao{
  width: 40%;
  float: right;
  margin-right: 5%;
  /* background: lightgreen; */
  margin-top: 2vh;
  text-align: center;
}
.avaliacao span{
  color: #D4AF37;
  font-size: 1.1em;
}
.off{
  padding: 2%;
  background: #000;
  color: #fff;
  font-weight: bold;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  top: 2vh;
  left: 0;
}
.img-prod{
  width: 100%;
  height: auto;
  float: left;
}
.destaque{
  width: 100%;
  height: 50vh;
  background: #f00;
}
footer {
  width: 100%;
  height: 95vh;
  background: white;     
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5vh 0;
}
.video iframe {
  width: 100%;
  height: 95%;
  margin-bottom: 30vh;
}
.logo-footer {
  width: 130px;
  height: 100px;
  margin-bottom: 5vh;
}

.social-icons {
  width: 90%;
  height: 4vh;
  background: gray;       
}